/* Color Palette: https://colorhunt.co/palette/f3f1f5f0d9ffbfa2db7f7c82 */

@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

:root {
    --background-color: #eae5f0;
    --tertiary-color: #d8b7ec;
    --secondary-color: #b293cf;
    --primary-color: #7444a0;
}

body {
    background-color: var(--background-color);
    font-family: 'Hina Mincho', serif;
    font-size: 1.5em;
}

h1, h2, h3 {
    color: var(--primary-color);
}